body {
    color: #FBF3EE;
    font-family: 'Poppins', sans-serif;
    color: #344960;
    margin: 0;
    padding: 0;
    background-color: #E3DAD0;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: #344960;
    color: #FBF3EE;
    padding: 50px 20px;
}

header h1 {
    font-family: 'Pacifico', cursive;
    font-size: 4rem;
    margin: 0;
    color: #FBF3EE;
}
header h1 img{
    height: 200px;
}
.btn {
    background-color: #CC8561;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}
.services h2{
    font-family: 'Pacifico', cursive;
    font-size: 2rem;
    margin: 0;
    text-align: center;
    color: #344960;
}

.service-card {
    display: flex;
    justify-content: space-around;
    gap: 30px;
    flex-wrap: wrap;
}

.service-card {
    background-color: #344960;
    padding: 20px;
    border-radius: 10px;
    width: 250px;
    text-align: center;
    margin: 10px;
}

.service-card h3 {
    color: #FBF3EE;
    font-size: 20px;
}

.service-card p {
    color: #FBF3EE;
    font-size: 18px;
}
.service-card .btn {
    background-color: #CC8561;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}